html{
    border: 5px solid blue;
    height: 100%;
}

body {
    /* background-color: blue; */
    border: 5px solid red;
    height: 100%;
    margin: 0px;
}

.container{
    border: 5px solid green;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.box{
     width: 50px;
     padding-left: 20%;
     padding-right: 20%;
     /* border: 5px solid purple; */
}

.item {

    /* background-color: pink; */
    flex-grow: 1;
}

.item_big {
    /* background-color: orange; */
    flex-grow: 3;
}