html,
body {
  background-image: url("/images/splash2.JPG");
  background-repeat: repeat;
  height: 100%;
  min-height: 100%;
}

.main {
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: 75px;
  font-family: "Marck Script", cursive;
  font-weight: 1000;
  font-style: normal;
}

h2 {
  font-size: 25px;
}

.mensbutton {
  font-size: 60px;
  height: 220px;
  width: 400px;
  background-image: url("/images/mens.png");
  background-size: cover;
}

.womensbutton {
  font-size: 60px;
  height: 220px;
  width: 400px;
  background-image: url("/images/womens.jpg");
  background-size: cover;
}

.jewellerybutton {
  font-size: 60px;
  height: 220px;
  width: 400px;
  background-image: url("/images/Jewellery.png");
  background-size: cover;
}

.weddingbutton {
  font-size: 60px;
  height: 220px;
  width: 400px;
  background-image: url("/images/wedding.avif");
  background-size: cover;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: rgb(255, 0, 34);
}

.container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

footer {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  justify-content: space-between;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footeritem {
  font-size: 1.7vw;
  padding: 15px 5px;
  flex-grow: 0;
}

.socialmediaicon {
  width: 40px;
  padding: 0px 5px;
}

.section {
  height: 100vh;
  min-height: 100%;
  color: rgb(255, 255, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0px;
  text-align: center;
  font-size: 30vw;
  padding-top: 20vw;
}


@media (max-width: 1600px) {
  body {
    /* background-color: green;
    background-image: none; */
  }

 
}